body {
  font-family: 'Segoe UI', Arial, sans-serif;
  @apply text-nuxt-dark;
}

/* Page Transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
